* {
    background-color: rgb(190, 142, 252);
    text-align: center;
}

h1 {
    font-size: 64px;
    margin-top: 0px;
    padding: 12px;
    margin-bottom: 12px;
}

.buttons-style {
    margin-top: 32px;
    display: flex;
    width: 400px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    width: 100px;
    height: 100px;
    font-size: 48px;
    background-color: whitesmoke;
}

.calc-shape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

#display {
    min-width: 400px;
    height: 100px;
    align-self: center;
    font-size: 80px;
    border: 2px solid black;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: whitesmoke;
    flex-grow: 1;
}

button:hover {
    background-color: rgb(186, 185, 185);
}

#numbers {
    background-color: rgb(0, 0, 0);
    color: rgb(186, 185, 185);;
}

#numbers:hover {
    background-color: rgb(40, 39, 39);
}

#characters-remaining {
    font-size: 20px;
}